#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=SoulCode
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bfhmomimdccbgjahniacjgafbnncngnh
Icon=chrome-bfhmomimdccbgjahniacjgafbnncngnh-Default
StartupWMClass=crx_bfhmomimdccbgjahniacjgafbnncngnh
